---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 class="archive__subtitle">About</h3>
<p style = " font-size:0.8em; ">
  Hello, my name is Yoojin Kim, and also Lucia. 
  <br>
  I am a Master student at Music and Audio Computing Lab, Graduate School of Culture Technology, KAIST.
  Before joining the lab, I received a Bachelor's degree in Computer Science from Yonsei University, and minor was Child and Family Studies.
  <br>
  I'm intereseted in research topics about Data Analytics, Music Information Retrieval, and their intersection with various aspects of human life.
  <br>
  Currently I'm working intensively on Emotional Symbolic Music Data Analysis. You can find more detail about my projects below.
  For a full history of my career, you can refer to my <a href="/assets/files/cv_20201001.pdf"> CV</a> <I>(last update in Oct 2020)</I>.
</p>
<br>
<h4 class="archive__subtitle">Projects</h4>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
